<!--<div class="row" style="float: right; margin-top: 15px; margin-right: 80px;">
  <div class="form-inline">
    <div class="form-group">
      <div class="column">
        <input [(ngModel)]="bookToFind" type="text" class="form-control" id="inputBuscar" placeholder="Ingrese nombre del libro..." />
      </div>
    </div>
    <div class="colum">
      <button (click)="findBook()" class="btn mb-2 mr-2">Buscar</button>
    </div>
    <div class="colum">
      <button (click)="resetListBook()" class="btn mb-2 mr-2">Reset</button>
    </div>
    <div class="colum">
      <button (click)="showAddBookForm()" class="btn mb-2">{{showNewBook?"Cerrar":"Agregar libro"}}</button>
    </div>
  </div>
 
</div>-->