<div class="container">
  <svg width="100vw" height="5vh">
    <text x="17%" y="90%">Tecnología</text>
  </svg>
  <div class="row">
    <div class="column">
      <div class="card"
        style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/031262087706.jpg);">
        <div class="overlay">
          <div class="content">
            <h2><span class="name">AUDIFONO JAM LIVE FAST BT ROJO HX-EP404R</span></h2>
            <p>$28.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
