<!DOCTYPE html>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Categorías</h3>
                    <ul>
                        <li><a href="#">Libros</a></li>
                        <li><a href="#">Tecnología</a></li>
                        <li><a href="#">Infantil</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Sucursales</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Seguridad</h3>
                    <ul>
                        <li><a href="#">Bebeficios Compra en línea</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Cantáctenos</h3>
                    <ul>
                        <li><a href="#">{{infoSiteObject.email}}</a></li>
                        <li><a href="#">{{infoSiteObject.address}}</a></li>
                        <li><a href="#">{{infoSiteObject.phones}}</a></li>
                    </ul>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Book Jack © 2021</p>
        </div>
    </footer>
</div>