<div class="container">
    <svg width="100vw" height="5vh">
        <text x="17%" y="90%">Tecnología</text>
      </svg>
    <div class="row">
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/031262087706.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONO JAM LIVE FAST BT ROJO HX-EP404R</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/1639247153882.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONO ILUV IEP 205 ROJO BUBBLES GUM I</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/1639247153905.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONOS ILUV PEPPERMINT AZUL PEPPERMIN</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/639247130180.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONO JAM LIVE FAST BT ROJO HX-EP404R</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/639247130265.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONOS ILUV IEP205 BUBBLE GUM II IEP2</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/639247130289.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONO JAM LIVE FAST BT ROJO HX-EP404R</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/1639247153899.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">AUDIFONO JAM LIVE FAST BT ROJO HX-EP404R</span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-image: url(https://s3.amazonaws.com/online.storage/HSPMER/Products/740617309829.jpg);">
                <div class="overlay">
                    <div class="content">
                        <h2><span class="name">MEMORIA USB KINGSTON 64GB DATA TRAVELER </span></h2>
                        <p>$28.00</p>
                    </div>
                </div>
            </div>
        </div> 
        
        
    </div>
</div>