<!DOCTYPE html>
<app-menu></app-menu>
<div class="row" style="float: right; margin-top: 15px; margin-right: 80px;">
  <div class="form-inline">
    <div class="form-group">
      <div class="column">
        <input [(ngModel)]="bookToFind" type="text" class="form-control mr-3" id="inputBuscar" placeholder="Buscar" />
      </div>
    </div>
    <div class="colum">
      <button (click)="findBook()" class="btn btn-primary mb-2 mr-2">Buscar</button>
    </div>
    <div class="colum">
      <button (click)="resetListBook()" class="btn btn-primary mb-2">Reset</button>
    </div>
  </div>
 
</div>
<svg width="100vw" height="5vh">
  <text x="40%" y="95%">Novedades</text>
</svg>
<div class="row">
  <app-book (deleteBookEventParent)="deleteBook($event)" [currentBook]="item" *ngFor="let item of bookListObject"></app-book>
</div> 
<app-description [currentBook]="item" *ngFor="let item of bookListObject"></app-description>
<app-footer></app-footer>
