<!DOCTYPE html>
<nav class="navbar">
  <div class="logo">
    <img routerLink="/"
      src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/ba558f06-e135-4ddc-acc5-93545d4b0ee9.png"></div>
  <ul class="nav-links">
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <div class="menu">
      <li><a routerLink="/list-book">Home</a></li>
      <li><a routerLink="/category">Categoría de libros</a></li>
      <li><a routerLink="/courses">Cursos</a></li>
      <li><a routerLink="/tecnology">Tecnología</a></li>
      <li><a routerLink="/childish">Infantil</a></li>
      <li><a routerLink="">Contáctenos</a></li>
    </div>
  </ul>
</nav>
