<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="position: relative; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ARTE/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/c891882b-0cbf-4a7d-a0b5-2d269e05051d.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 100%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ATYD/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/dfeef20d-b2a1-4f84-b0c4-d539d8175476.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/5846977c-8486-4eff-89f4-659ebc4b4424.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/BGRFS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/23d81a47-7f71-4ca5-8155-d1b9c8f045f5.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/79fd3dcf-3ee4-488b-ac2c-ccfcaec24578.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="background-color: rgb(255, 255, 255); position: relative; left: 0px; top: 0px;"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CNCFCCN/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center halign-lg-center valign-lg-center"
          style="position: relative; left: 0px; top: 0px;">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/bae22ff1-dcce-4e15-a813-46a33cbecf13.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CLASICOS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start halign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/19608533-c180-4a19-b418-4731b762ccb3.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/1e200be0-0bf6-4648-8e7e-57b938a77fe5.jpg"
            style="width: 90%;"></picture>
      </a></div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="position: relative; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ARTE/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/c891882b-0cbf-4a7d-a0b5-2d269e05051d.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 100%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ATYD/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/dfeef20d-b2a1-4f84-b0c4-d539d8175476.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/5846977c-8486-4eff-89f4-659ebc4b4424.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/BGRFS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/23d81a47-7f71-4ca5-8155-d1b9c8f045f5.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/79fd3dcf-3ee4-488b-ac2c-ccfcaec24578.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="background-color: rgb(255, 255, 255); position: relative; left: 0px; top: 0px;"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CNCFCCN/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center halign-lg-center valign-lg-center"
          style="position: relative; left: 0px; top: 0px;">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/bae22ff1-dcce-4e15-a813-46a33cbecf13.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CLASICOS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start halign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/19608533-c180-4a19-b418-4731b762ccb3.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/1e200be0-0bf6-4648-8e7e-57b938a77fe5.jpg"
            style="width: 90%;"></picture>
      </a></div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="position: relative; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ARTE/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/c891882b-0cbf-4a7d-a0b5-2d269e05051d.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 100%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ATYD/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/dfeef20d-b2a1-4f84-b0c4-d539d8175476.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/5846977c-8486-4eff-89f4-659ebc4b4424.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/BGRFS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/23d81a47-7f71-4ca5-8155-d1b9c8f045f5.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/79fd3dcf-3ee4-488b-ac2c-ccfcaec24578.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="background-color: rgb(255, 255, 255); position: relative; left: 0px; top: 0px;"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CNCFCCN/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center halign-lg-center valign-lg-center"
          style="position: relative; left: 0px; top: 0px;">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/bae22ff1-dcce-4e15-a813-46a33cbecf13.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CLASICOS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start halign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/19608533-c180-4a19-b418-4731b762ccb3.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/1e200be0-0bf6-4648-8e7e-57b938a77fe5.jpg"
            style="width: 90%;"></picture>
      </a></div>
  </div>
</div>
