<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="position: relative; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ARTE/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/c891882b-0cbf-4a7d-a0b5-2d269e05051d.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 100%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ATYD/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/dfeef20d-b2a1-4f84-b0c4-d539d8175476.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/5846977c-8486-4eff-89f4-659ebc4b4424.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/BGRFS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/23d81a47-7f71-4ca5-8155-d1b9c8f045f5.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/79fd3dcf-3ee4-488b-ac2c-ccfcaec24578.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="background-color: rgb(255, 255, 255); position: relative; left: 0px; top: 0px;"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CNCFCCN/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center halign-lg-center valign-lg-center"
          style="position: relative; left: 0px; top: 0px;">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/bae22ff1-dcce-4e15-a813-46a33cbecf13.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CLASICOS/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start halign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/19608533-c180-4a19-b418-4731b762ccb3.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/1e200be0-0bf6-4648-8e7e-57b938a77fe5.jpg"
            style="width: 90%;"></picture>
      </a></div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ESPRTL/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/40e066e1-6c75-4e78-8649-644294c63bbf.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/4a60cc33-fb52-4f08-b9fd-07d1163f604a.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/FLSF/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-lg-center valign-md-center valign-sm-center valign-xs-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/630a851f-e98b-4a9d-be50-b4103a66f65a.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/7f1f76eb-ea41-41c6-94bd-1727bce94e18.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/INFANTIL/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/643a62c6-adcc-49fe-b508-7baa11a00c0a.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/a369555a-92e5-4b45-942b-4f940da3c46f.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/INGLES/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-lg-center valign-md-center valign-sm-center valign-xs-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/5b096d24-fc1c-4a82-aaea-527646b42d88.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/JUGYENT/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-lg-center valign-md-center valign-sm-center valign-xs-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/8088a0a7-67a3-4150-8440-f2a2ece2c7ec.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/3dc90ecd-cbcb-4faf-9bba-531e5c55f9e6.jpg"
            style="width: 90%;"></picture>
      </a></div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="position: relative; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ESTRSM/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-lg-center valign-md-center valign-sm-center valign-xs-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/20d88ea1-51f5-4a53-8b21-5c0ab19d6db5.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/bc7c07eb-34ce-4a76-b166-ce11e6228195.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/ENSAYO/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/422775fd-8ec1-44eb-b9a2-6269c71d8518.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="https://s3.amazonaws.com/online.storage/HSPMER/Resources/1fc636e3-e2c0-4340-ab80-174ab0f96de0.jpg"
            style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/DIVCIE/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center halign-lg-center valign-lg-center"
          style="position: relative; left: 0px; top: 0px;">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/de37f482-f969-4cfa-b37f-33ac81134a68.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"
      style="background-color: rgb(255, 255, 255); position: relative; left: 0px; top: 0px;"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/CNTMPRN/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-center">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/db31720b-d1fe-4514-8336-01a8814618cd.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: rgb(255, 255, 255);"><a target=""
        href="https://hispamer.online.com.ni/Catalog/Category/HISPAMER/COCINA/ALLBRANDS/0/0/0/1">
        <picture
          class="halign-lg-center halign-md-center halign-sm-center halign-xs-center valign-md-center valign-sm-center valign-xs-center valign-lg-start">
          <source media="(min-width: 1200px)"
            srcset="https://s3.amazonaws.com/online.storage/HSPMER/Resources/8dd3827a-2d6a-484b-bf7d-05d720e31824.png">
          <source media="(min-width: 992px)" srcset="">
          <source media="(min-width: 768px)" srcset="">
          <source media="(max-width: 767px)" srcset=""><img class="lazyload"
            src="/Content/plugins/bootstrap-content-editor/images/placeholder_large.png" style="width: 90%;"></picture>
      </a></div>
  </div>
</div>
